body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.container {
width: 100%;
display:block;
overflow: auto; /* To clear the float */
}

.left-column {
float: left;
display: inline-block;
vertical-align: top;
width: auto;
height: 0;
padding-bottom: 56.247%; /*image width * 100 / height*/
background-color: #ccc;
}

.right-column {
float: right;
width: 50%;
display: inline-block;
vertical-align: top;
}


